<h1>各國列表</h1>
<%= current_user.name %>
<%= link_to "新增國家", new_country_path %>

<ul>
<% @countries.each do |country|%>
<li>
<%= link_to country.country_name, country %>

<%= link_to "編輯", edit_country_path(country) %>

<%= link_to "刪除", country, method: 'delete', data: { confirm: "確認刪除嗎？" } %>

<%= link_to "隱藏", hide_country_path(country), method: 'patch' if check?(country, :hide) %>

<%= link_to "開放", open_country_path(country), method: 'patch' if  check?(country, :open) %>

<%= link_to "鎖定", lock_country_path(country), method: 'patch' if check?(country, :lock) %>


</li>
<% end %>
</ul>

<%= paginate @countries %>
